name: Build Spotilist App

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            npm_command: build:linux
            asset_name: Linux_AppImage
            path: release/*.AppImage
            
          - os: windows-latest
            npm_command: build:win
            asset_name: Windows_Exe
            path: release/*.exe

          - os: macos-latest
            npm_command: build:mac
            asset_name: MacOS_Dmg
            path: release/*.dmg

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' 
          cache: 'pip'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: |
          pip install -r backend/requirements.txt
          npm install

      - name: Build Application
        run: npm run ${{ matrix.npm_command }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSC_IDENTITY_AUTO_DISCOVERY: false

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.asset_name }}
          path: ${{ matrix.path }}